* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../img/back.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

header {
  text-align: center;
  padding-top: 4%;
}

header > p {
  font-size: 28px;
  font-weight: 700;
  color: rgb(94, 94, 94);
}

.player-container {
  display: flex;
  padding-top: 5%;
}

.player {
  width: 50%;
  text-align: center;
}

.player > p {
  font-size: 20px;
  font-weight: 500;
}

.board-container {
  padding: 6% 0 2% 0;
  display: flex;
  justify-content: center;
}

.board-row > td {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.game-restart {
  text-align: center;
  padding: 2%;
}

#player-name > input {
  display: block;
  margin: 10% 0 0 10%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  color: #AF7235;
}

.btnSubmit {
  margin-top: 10%;
  color: #AF7235;
  font-weight: 500;
  padding: 5px 8px 5px 8px;
  width: 40%;
}

#error, #board-error {
  color: red;
}
#form-wrapper {
  background-color: #AF7235;
  position: fixed;
  text-align: center;
  margin-left: 35%;
  top: 30%;
  display: block;
  width: 30%;
  height: 45%;
  border-radius: 5px;
}

.form-title {
  margin-top: 8%;
  text-align: center;
}

.form-title > p {
  font-size: 20px;
  font-weight: 700;
}

#player-name {
  text-align: center;
  margin: auto;
}

#id {
  font-size: 25px;
  font-weight: 700;
}

#restart {
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgb(199, 66, 66);
}

#restart:hover {
  border: none;
  border-radius: 5px;
  color: rgb(124, 124, 124);
  font-size: 18px;
  padding: 15px;
  transition: 0.5s;
}

.winner {
  text-align: center;
}

.winner > p {
  font-size: 25px;
  color: black;
}
